<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home - layouts-defaults.html</a></li>
		        	<li><a href="/about">Über</a></li>
	    		</ul>
			</nav>
			<div class="container">

			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/bili123">Auf GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>

